<header id="header" class="header tra-menu navbar-light">
    <div class="header-wrapper">
        <div class="wsmobileheader clearfix">
            <a href="index.html" class="smllogo"><img
                    src="{{ '/assets/images/logo/logo-color.png' | relative_url }}"
                    alt="mobile-logo"></a>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        </div>

        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">
                <div class="desktoplogo">
                    <a href="index.html" class="logo-black"><img
                            src="{{ '/assets/images/logo/logo-color.png' | relative_url }}"
                            alt="header-logo"></a>
                </div>
                <div class="desktoplogo">
                    <a href="index.html" class="logo-white"><img
                            src="{{ '/assets/images/logo/logo-white.png' | relative_url }}"
                            alt="header-logo"></a>
                </div>

                <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list">
                        <li><a href="{{ site.baseurl }}/#why-rdesk">چرا
                                آردسک</a></li>
                        <li><a
                                href="{{ site.baseurl }}/#features">امکانات</a></li>
                        <li><a
                                href="{{ site.baseurl }}/#customers">مشتریان
                                ما</a></li>
                        <li><a
                                href="{{ site.baseurl }}/#security">امنیت</a></li>
                        <li><a
                                href="{{ site.baseurl }}/#download">دانلود</a></li>
                        <li><a href="{{ site.baseurl }}/#faq">سوالات
                                متداول</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>